.window {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  height: 50px;
  
  display: flex;
  align-content: center;
  text-align: center;
}

.board-column {
  width: 50px;
  height: 100%;
  border: 1px dashed black;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green
}

.orange {
  background-color: orange
}

.red {
  background-color: red
}

.purple {
  background-color: purple
}

.yellow {
  background-color: yellow
}

.grey {
  background-color: grey
}
